### Temporary files ###
*~
*.tmp
*.swp
*.save
### Objects ###
*.o
*.lib
### Binaries ###
*.a
*.lib
*.dll
*.so
### Backup Files ###
*.bak
*.bk
### CMake ###
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
build/

### VS Crap ###
*.vcxproj.filters
*.sdf
*.pdb
*.user
*.suo
*.exp
Debug/
Release/
ipch/

### Misc ###
msgs/
opt.*/
debug.*/
